
body {
    background-image:url(../img/background.png);
    font-family: Arial, Helvetica, sans-serif;
}

main {

    border-radius: 30px;
    
    box-shadow: 5px 10px 25px #333;
    
    width: 900px;
    margin: auto;
 

    font-family: 'Courgette', cursive;
    background-color: #fff;

}

header {
    position: sticky;
    background-color: #C55394;
    color: #fff;

    font-family: 'Courgette', cursive;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
   
    text-align: right;
}

nav a {

    text-align: center;
    text-decoration: none;

    border-right: 2px solid #C55394;
    color: #fff;
    letter-spacing: 3px;
}
nav a:hover {
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;


    
    background-color: #EB43A3;
    color: #fff;
}

h1 {

    background:url('../img/rainbow.png') no-repeat top;
    padding: 30px;
   
   
    font-family: 'Courgette', cursive;
    text-align: center;
    color:#C55394;  
}

h4 {
    margin: auto;
    padding: 30px;
   color: #EB43A3;

}

p {
    font-family: Arial, Helvetica, sans-serif;
}


.titre {
    color: #EB43A3;
}

.image {
    display:inline-block;
    
    padding: 30px 10px;
 }
 
 .image img {

     width: 120px;
     height: 120px;
 }
 
figcaption {

    position: relative;
    bottom: 20px;
    opacity: 0.8;
    background-color: #333;
    height: 30px;
    line-height: 30px;

    color: #fff;
    text-align: center;
}


#contact address {
    text-align: right;
}
button {
    background-color: #E577B5;
    color: #fff;
}


footer {

    margin: auto;
 
    
    position: sticky;
    background: #E577B5;
    color: #fff;
     
     text-align: right;
  

}

.d-flex {
    display: flex;
}

.g-20 {
    gap: 20px;
}

.clear {
    clear: both;
}

